<div class="clearfix message"><blockquote class="you pull-left" style="background-color: <%= message.user_color %>"><strong><%= message.user_name%>: </strong><%= message.content %></blockquote></div>
